# gitignore runs line-by-line
# Ignore Assets folder when it's at depth 1: */Assets/
*/Assets/

# Exception: do NOT ignore minemgl/Assets/
!minemgl/Assets/
!loop-2025/Assets/
!drone/Assets/
!npcfr/Assets/
*.glb

# Un-ignore noimnot/Assets/ but re-ignore audioClips inside it
# !noimnot/Assets/
# noimnot/Assets/AudioClip/
# noimnot/Assets/Texture2D/
# noimnot/Assets/Font/
# noimnot/Assets/VideoClip/


# Your previous rules

*/Scripts/Microsoft.*/
*/Scripts/Newtonsoft.*/
*/Scripts/*.steamworks.*/
*/Scripts/System.*/

*/Scripts/System/System/
*/Scripts/*.System.*/
*/Scripts/mscorlib/

*/Scripts/Unity.*/
*/Scripts/UnityEngine.*/
*/Scripts/Unity/
*/Scripts/UnityEngine/

**/Unity/
**/UnityEngine/
**/DOTween/

**/Zenject/
**/JetBrains/

*/Assets/Mesh/